<% if current_user && current_user.admin? %>
  <div class="row">
    <div class="col s12">
      <ul>
        <li><b>Name:</b> <%= @project.name %></li>
        <li><b>URL:</b> <%= @project.url %></li>
        <li><b>Description:</b> <%= @project.description %></li>
        <li><b>Submitted at:</b> <%= @project.created_at %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= link_to "Edit Project", edit_project_path(@project), class: "btn waves-effect waves-light navbar-color-dark" %>
      <%= link_to "Delete Project", project_path(@project), method: :delete, data: {confirm: "Are You Sure?"}, class: 'waves-effect waves-light btn red' %>
    </div>
  </div>
<%end%>
